<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Clutter</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id= "body">
      <div id= "loc_mount">
        <div id= "location">
          <h3 id= "loc_name"></h3>
          <div id= "loc_desc"></div>
          <div id= "loc_contents"></div>
        </div>
      </div>
      <div id="output"></div>
      <textarea id="input"></textarea>
    </div>

    <div id="prop_editors"></div>

    <script src= "/js/lib/react-0.12.2.js"></script>
    <script src="/js/out/goog/base.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
      goog.require("glittermu.core");
    </script>
  </body>
</html>
